<div class="container">
	<div class="row centered-form">
		<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Adding car to the list!
						<small>For admins only!</small>
					</h3>
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<label for="type">Type</label>
									<!-- <input [(ngModel)]="car.type"  type="text" name="type" id="type" class="form-control input-sm" placeholder="Type"> -->
									<select class="form-control"   id="type" required>
										<option *ngFor="let typ of types" [value]="type">{{typ}}</option>
									</select>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
										<label for="model">Model</label>
									<input  [(ngModel)]="car.model" type="text" name="model" id="model" class="form-control input-sm" placeholder="Model">
								</div>
							</div>
						</div>

						<div class="form-group">
							<input [(ngModel)]="price" type="price" name="price" id="price" class="form-control input-sm" placeholder="Price">
						</div>

						<div class="row-md-6 ">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<img style="display:flex"  [(ngModel)]="img" type="image" name="img" id="img" class="form-control input-sm" placeholder="Password" [src]="img">
								</div>
							</div>
						
						</div>

						<input type="submit" value="Add" class="btn btn-info btn-block" (click)="submit()">

					</form>
				</div>
			</div>
		</div>
	</div>
</div>